NET sclk LOC=p24 | IOSTANDARD=LVCMOS33;
NET rst_n LOC=p93 | IOSTANDARD=LVCMOS33;
NET key LOC=p94 | IOSTANDARD=LVCMOS33;
NET led[0] LOC=p92 | IOSTANDARD=LVCMOS33;
NET led[1] LOC=p87 | IOSTANDARD=LVCMOS33;
NET led[2] LOC=p55 | IOSTANDARD=LVCMOS33;
NET led[3] LOC=p59 | IOSTANDARD=LVCMOS33;